.blue {
    background-color:blue;
    height:10px;
}

.red {
    background-color: red;
    height: 10px;
}

.mark {
    width:100%;
    background-color:black;
    height:18px;
    width:1px;
    margin-top:-14px;
    z-index:1;
}

.twoseventygrid {
    display:grid;
    grid-template-columns:100px 1fr 100px;
    grid-template-rows:1fr;
}
