<div class="twoseventygrid"><h3 style="text-align:left;">@democratEV</h3><span></span><h3 style="text-align:right;">@republicanEV</h3></div>
<div>
    <span class="blue" style="@blue;float:left;"></span>
    <span class="red" style="@red;float:right;"></span>
</div>
<div style="display: flex; justify-content: center; width: 100%;"><span class="mark"></span></div>
